--extra-index-url https://download.pytorch.org/whl/cpu
optimum-intel>=1.19.0
nncf>=2.11.0
transformers>=4.40.2
openvino>=2024.4.0
onnx>=1.15.0
huggingface-hub>=0.21.3
openvino-genai>=2024.4.0.0
modelscope
tiktoken